profile.out
coverage.html

/pre-commit.sh
/coverage.txt
/TODO.md
/SECRET.md
/conf/self.conf.json
/tmp

/demo
/bin
/release
/.idea
/.trash
/logs
/playground
/testdata
/pkg/rtmp/testdata
/pkg/httpflv/testdata
/pkg/logic/testdata
