{
  "httpflv": {
    "sub_listen_addr": ":8080",
    "pull_addr": "pull.x.com",
    "pull_connect_timeout": 2,
    "pull_read_timeout": 10,
    "sub_idle_timeout": 10,
    "stop_pull_while_no_sub_timeout": 30
  }
}